DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password
DB_NAME=yurt_db

JWT_SECRET=change_this_secret

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_pass

APP_HOST=0.0.0.0
PORT=3000
APP_BASE_URL=http://localhost:3000
